@import '../../../consts/colors';

.login-wrapper{
    text-align: center;
    display: flex;
    
}

form{
    border-top: $color-main-blue solid 10px;
    margin: 0 auto;
    width: 400px;
    background: $color-main-white;
    padding-top: 20px;
    // -webkit-box-shadow: 0px 17px 105px -3px rgba(0,0,0,0.18);
    // -moz-box-shadow: 0px 17px 105px -3px rgba(0,0,0,0.18);
    // box-shadow: 0px 17px 105px -3px rgba(0,0,0,0.18);
    border-left: 1px solid $color-light-gray-3;
    border-right: 1px solid $color-light-gray-3;
    border-bottom: 1px solid $color-light-gray-3;

    .title{
        color: $color-main-blue;
        font-weight: 500;
        font-size: 22px;
    }
    
    .login-group{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            margin-top: 16px;
            overflow: hidden;
            padding: 7px;
            width: 200px;
        }
        button{
            background-color: $color-main-blue;
            border: none;
            color: $color-main-white;
            margin-top: 16px;
            padding: 10px 7px 10px 7px;
            width: 220px;
        }
    }

    span{
        width: 100%;
        margin-top: 16px;
        background-color: $color-light-gray-1;
        padding: 10px 0px 10px 0px;
        border-top: 1px solid $color-light-gray-2;
        a{
            text-decoration: none;
            color: $color-dark-gray-2;
            font-size: 14px;
        }
    }

    .error{
        font-size: 12px;
        color: $color-warning-orange;
    }
}