<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label class="title">Register new device</label>
    <div class="form-group">
        <label for="imei" [class.invalid]="formErrors.imei">
            <input id="imei" type="text" placeholder="IMEI" size="20" formControlName="imei">
            <span class=""> {{ formErrors.imei }} </span>
        </label>
    </div>
    <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Register</button>    

</form>