<div class="wrapper">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label class="title">
            <i class="material-icons">add_circle_outline</i>  
            Register new device
        </label>
        <div class="form-group">
            <label for="imei" [class.invalid]="formErrors.imei">
                <input id="imei" type="text" placeholder="IMEI" size="20" formControlName="imei">
                <span class=""> {{ formErrors.imei }} </span>
            </label>
        </div>
        <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Register</button>    
    
    </form>

    {{message}}
    <table>
    <thead>
        <tr>
        <th>IMEI</th>
        <th>Name</th>
        <th>Date registered</th>
        <th>Last activity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let device of devices; let i = index">
        <td>{{device.deviceId}}</td>
        <td>
            <div class="edit" *ngIf="edited !== i">
                <div class="name">
                    {{device.name}}
                </div>
                <div class="edit-button-box">
                    <i class="material-icons edit-icon" (click)="editName(i, device)">create</i> 
                </div>
            </div>
            <div class="edit" *ngIf="edited === i">
                <input type="text" [(ngModel)]="newName">
                <div class="edit-button-box">
                    <i class="material-icons confirm-icon" (click)="confirmEdit(i, device)" >done</i>
                    <i class="material-icons cancel-icon" (click)="cancelEdit()">clear</i>
                </div>
            </div>
        </td>
        <td>2017/05/24 22:31</td>
        <td>2017/11/10 19:26</td>
        </tr>
    </tbody>
    </table>
</div>
