@import '../../../consts/colors';
@import '../../../consts/button';
@import '../../../consts/select';

:host {
    width: 100%;
}

agm-map {
    width: inherit;
    height: 100%;
    flex: 0 1 60%;
}

.map-menu {
    padding: 30px;
    width: inherit;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu-button {
    margin-top: 10px;
}

.data-select{
    width: 20em;
}

.device-select{
    margin-right: 10px;
}

.device-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.description {
    margin-right: 20px;
}

.button-row {
    display: flex;
    flex-direction: row;
    button:nth-child(1){
        margin-right: 10px;
    }
}
