@import '../../../consts/colors';
@import '../../../consts/button';

:host {
    width: 100%;
}

agm-map {
    width: inherit;
    height: 100%;
    flex: 0 1 60%;
}

.map-menu {
    padding: 30px;
    width: inherit;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu-button {
    @extend .round-button;
    margin-top: 10px;
}
