<div class="wrapper">
  <agm-map [latitude]="centerLocation.lat" [longitude]="centerLocation.lon">
    <agm-marker *ngFor="let coord of selectedActivity.coords" [latitude]="coord.lat" [longitude]="coord.lon"></agm-marker>
    <app-sebm-google-map-directions *ngIf="createRouteFlag" [origin]="origin" [destination]="destination"></app-sebm-google-map-directions>
  </agm-map>

  <!-- <app-map-google [latitude]="centerLocation.lat" [longitude]="centerLocation.lon">
    <agm-marker *ngFor="let coord of selectedActivity.coords" [latitude]="coord.lat" [longitude]="coord.lon"></agm-marker>
    <app-sebm-google-map-directions #cdire=mapdirection *ngIf="createRouteFlag" [origin]="origin" [destination]="destination"></app-sebm-google-map-directions>
  </app-map-google> -->

  <div class="map-menu">
    <button class="menu-button" (click)="createRoute()">Create route to current position</button>
    <button class="menu-button">Do something fancy</button>
    <button class="menu-button" (click)="triggerRoute()">Turn on/off route</button>
    Select device activity timeframe:
    <select [ngModel]="selectedDevice" name="devices-select" id="devices-select" (ngModelChange)="selectDevice($event)">
      <option *ngFor="let device of devices" [ngValue]="device">{{device.deviceId}}</option>
    </select>

    <select [ngModel]="selectedActivity" name="activity-select" id="activity-select" (ngModelChange)="selectActivity($event)">
      <option *ngFor="let activity of gpsActivities" [ngValue]="activity">{{activity.wakeupTime}}</option>
    </select>
  </div>
</div>

