$color-main-blue: #3c4b5a;
$color-main-blue-light: #dfefff;
$color-main-gray: #e2e2e2;
$color-main-white: #fff;
$color-detail-blue: #13d4ff;


$color-light-gray-1: #f2f2f2;
$color-light-gray-2: #ededed;
$color-light-gray-3: #dddddd;
$color-dark-gray-1: #b7b7b7;
$color-dark-gray-2: #7c7c7c;

$color-warning-orange: #ff5421;
$color-warning-green: #99cc33;

