.alert-bar {
    color: white;
    height: 30px;
    left: 0;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    &.failure {
        background-color: #cc3300;
    }

    &.success {
        background-color: #99cc33;
    }

    &.none {
        display: none;
    }
}

i {
    margin-right: 10px;
}

.router-wrapper {
    margin-top: 200px;
}