@import './../../consts/colors';
@import './../../consts/button';
$list-item-margin: 10px;
$icon-space: 20px;
$selected-border-size: 4px;
$aside-top-padding: 20px;

:host {
    display: flex;
    flex-direction: row;
}

aside {
    background-color: $color-main-blue;
    color: white;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$aside-top-padding});
    padding-top: $aside-top-padding;
    position: relative;
    width: 200px;

    a {
        background-color: $color-main-blue;
        box-sizing: border-box;
        color: #c7c7c7;
        display: flex;
        font-size: 14px;
        padding: 0px 0px 0px $icon-space;
        text-decoration: none;
        width: 100%;
        &:hover{
            background-color: lighten($color-main-blue, 5%);
            color: white;
            transition: background-color 0.3s;
            transition: color 0.2s;
        }
        &.active{
            background-color: lighten($color-main-blue, 5%);
            border-left: $selected-border-size $color-detail-blue solid;           
            color: white;
            padding-left: $icon-space - $selected-border-size;            
        }

        p {
            margin: $list-item-margin 0 $list-item-margin 0;
        }

        i {
            font-size: 20px;
            margin: $list-item-margin 15px $list-item-margin 0;
        }

    }
}

.nav-profile {
    margin-bottom: 30px;
    text-align: center;
}

.button-wrapper {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 50px 10px;
}

.logout-button {
    @extend .my-button;    
    width: 100%;
}