@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'consts/colors';
html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: $color-main-blue-light;
    margin: 0;
}

input{
    font-family: 'Open Sans', sans-serif;
}